#navbar {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: clamp(4rem, 8vh, 5rem);

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;

    background-color: var(--navbar-bg);
    border-top: 0.15rem solid var(--navbar-border);
}

#navbar button {
    font-family: var(--comic-font);
    font-size: 1.5rem;
    padding: 0.70rem 1.5rem; 
    margin: 0.7em;
    border: none;
    border-radius: 0.7em;
    background-color: var(--navbar-link-bg);
    color: var(--navbar-link-text);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
#navbar button:hover {
    background-color: #666;
    transform: scale(1.05);
}
#navbar button:active {
    background-color: #333;
    transform: scale(0.93);
}
