#game {
  padding-bottom: 60px; /* hauteur de la navbar */
}
:root {
    --comic-font: 'Comic Sans MS', 'Comic Sans', cursive;

    --navbar-bg: #2a2a2a;
    --navbar-border: #1e1e1e;
    --navbar-link-hover-bg: #3a3a3a;
    --navbar-link-active-bg: #1e1e1e;
    --shearch-bar-bg: #3a3a3a;
    --shearch-bar-border: #1e1e1e;
    --shearch-bar-text: #ffffff;

    --shop-bg: #00847cd3;
    --shop-item-icon-border: #00847cd3;
    --shop-title-bg: #34a947;
    --shop-title-border: #1e661f;
    --shop-btn-bg: #656565;
    --shop-btn-hover-bg: #777777;
    --shop-btn-active-bg: #555555;
    --shop-btn-border: #2a2a2a;

    --inventory-bg: #005bb8d3;
    --inventory-header-bg: #27b7ff;
    --inventory-header-border: #145d36;
    --inventory-btn-type: #337fd1;
    --inventory-btn-type-border: #003f7ad3;
    --inventory-btn-type-hover-bg: #337fd1;
    --inventory-btn-type-active-bg: #1e66a2;
    --inventory-item-btn-bg: #cf5a51;
    --inventory-item-btn-border: #af352d;
    --inventory-item-btn-hover-bg: #e07067;
    --inventory-item-btn-active-bg: #bf4038;
    --inventory-modal-item-icon-border: #af352d;
    --inventory-modal-item-icon-bg: #ffe5e0;

    --o2-bg: #4da6ff;
    --o2-border: #006bb3;
    --co2-bg: #6ecf7a;
    --co2-border: #2e8b39;

    --modal-bg: #1ea25e;
    --modal-border: #145d36;
    --modal-overlay-bg: rgba(0, 0, 0, 0.6);
    --modal-action-confirm-bg: #28b238;
    --modal-action-confirm-border: #1e661f;
    --modal-action-confirm-hover-bg: #3fc04f;
    --modal-action-confirm-active-bg: #28b238;
    --modal-action-cancel-bg: #a94442;
    --modal-action-cancel-border: #6e2c2c;
    --modal-action-cancel-hover-bg: #c75b5b;
    --modal-action-cancel-active-bg: #a94442;
}
