/* ──────────────────────────────────────────
    LEAFS CONTAINER
────────────────────────────────────────── */
.leafs-container {
    display: flex;
    flex-direction: column;
    height: 97vh;
    padding: 0rem;
    gap: 1rem;
    border: none;
    background: var(--leafs-bg);
    margin: -0.5rem;
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

/* ──────────────────────────────────────────
    HEADER
────────────────────────────────────────── */
.leafs-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#leafs-header-title {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.2rem solid var(--leafs-title-border);
    padding: 0.5rem 1rem;
    background: var(--leafs-title-bg);
    border-radius: 1rem;
    margin: 0 auto;
}

#leafs-header-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.leafs-header h2 {
    font-family: var(--comic-font);
    margin: 0;
    font-size: 1.5rem;
}

#leafs-search-box {
    padding: 1rem;
    display: flex;
    flex: 1;
}

#leafs-search {
    min-height: 1.5rem;
    max-height: 2rem;
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid var(--shearch-bar-border);
    background: var(--shearch-bar-bg);
    color: var(--shearch-bar-text);
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

#leafs-search:focus {
    outline: none;
}

/* ──────────────────────────────────────────
    LEAFS LIST
────────────────────────────────────────── */
.leafs-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* ──────────────────────────────────────────
    LEAF BUTTON
────────────────────────────────────────── */
.leaf-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background: var(--leaf-button-bg);

    border: 0.2rem solid var(--leaf-button-border);
    border-radius: 0.8rem;
    padding: 1em 1em;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.leaf-button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background: var(--leaf-button-hover-bg);
}

.leaf-button:active {
    transform: translateY(0.2rem);
    background: var(--leaf-button-active-bg);
}

.leaf-button-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.25rem;
}

.leaf-button-img {
    width: 80px;
    height: 80px;
    padding: 0.5em;
    min-width: 80px;
    overflow: hidden;
    border-radius: 1rem;
    background: var(--leaf-button-img-bg);
}

.leaf-button-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leaf-button-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    flex: 1;
}

.leaf-button-name {
    font-weight: bold;
    font-size: 1rem;
    color: var(--leaf-button-name-color);
}

.leaf-button-rarity {
    font-size: 0.875rem;
    color: var(--leaf-button-rarity-color);
}

.leaf-button-type-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.leaf-button-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

.leaf-button-badge {
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
}

.lvl-badge {
    background: var(--lvl-badge-bg);
    border: 0.2em solid var(--lvl-badge-border);
    color: var(--lvl-badge-color);
}

.boost-badge {
    background: var(--boost-badge-bg);
    color: var(--boost-badge-color);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.boost-badge:hover {
    transform: translateY(-0.2rem);
    background-color: var(--boost-badge-color-hover-bg);
    box-shadow: 0 0.5rem 1rem var(--boost-badge-color-hover-shadow);
}
.boost-badge:active {
    transform: translateY(0.2rem);
    background-color: var(--boost-badge-color-active-bg);
}
.boost-badge img {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
}