.modal-overlay {
    position: fixed;
    inset: 0;
    background: var(--modal-overlay-bg);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal-cadre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background: var(--modal-bg);
    padding: 1.5em;
    border: 0.2em solid var(--modal-border);
    border-radius: 1em;
    min-height: 15vh;
    max-height: 30vh;
    min-width: 20vw;
    max-width: 30vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75em;
}

.modal-actions button {
    padding: 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-confirm {
    background-color: var(--modal-action-confirm-bg);
    border: 0.17em solid var(--modal-action-confirm-border);
}
.btn-confirm:hover {
    background-color: var(--modal-action-confirm-hover-bg);
    transform: scale(1.02);
}
.btn-confirm:active {
    background-color: var(--modal-action-confirm-active-bg);
    transform: scale(0.98);
}
.btn-cancel {
    background-color: var(--modal-action-cancel-bg);
    border: 0.17em solid var(--modal-action-cancel-border);
}
.btn-cancel:hover {
    background-color: var(--modal-action-cancel-hover-bg);
    transform: scale(1.02);
    cursor: pointer;
}
.btn-cancel:active {
    background-color: var(--modal-action-cancel-active-bg);
    transform: scale(0.98);
}

/* ──────────────────────────────────────────
    Modal shop specific styles
*/
#modal-item {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

#modal-prices {
    display: flex;
    gap: 0.5em;
}

#shop-item-icon {
    width: 3rem;
    height: 3rem;
    border: 0.2em solid var(--shop-item-icon-border);
    padding: 0.5em;
    border-radius: 0.5em;
    flex-shrink: 0;
    overflow: hidden; /* Coupe ce qui dépasse */
}

#shop-item-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ──────────────────────────────────────────
    Modal inventory specific styles 
*/
#modal-inventory-btn-cancel {
    height: auto;
    width: auto;
    padding: 0.5em 1em;
    margin-left: auto;
    border-radius: 10em;
}
#modal-inventory-item-details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
#modal-inventory-item-icon {
    width: 10em;
    height: 10em;
    border: 0.2em solid var(--inventory-modal-item-icon-border);
    background-color: var(--inventory-modal-item-icon-bg);
    padding: 0.5em;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-inventory-item-icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}
#modal-inventory-item-info {
    font-family: var(--comic-font);
    display: flex;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
#modal-inventory-item-description {
    font-family: var(--comic-font);
    font-size: 1rem;
    margin-top: 0.5em;
}